  <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group required">
        <label>Kullanıcı Adı</label>
        <input class="form-control" formControlName="UserName">
        <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Bu alanı doldurmak gereklidir.</label>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" formControlName="Email">
        <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Geçersiz email adresi.</label>
      </div>
      <div class="form-group">
        <label>Ad Soyad</label>
        <input class="form-control" formControlName="FullName">
      </div>
      <div class="form-group required">
        <label>Okul</label>
        <input class="form-control" formControlName="School">
        <label class="text-danger" *ngIf="service.formModel.get('School').touched && service.formModel.get('School').errors?.required">Bu alanı doldurmak gereklidir.</label>
      </div>
      <div formGroupName="Passwords">
        <div class="form-group required">
          <label>Şifre</label>
          <input type="password" class="form-control" formControlName="Password">
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Bu alanı doldurmak gereklidir.</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Şifre en az 4 karatker olmalı</label>
        </div>
        <div class="form-group required">
          <label>Şifre Doğrulama</label>
          <input type="password" class="form-control" formControlName="ConfirmPassword">
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">Bu alanı doldurmak gereklidir.</label>
          <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Şifreler uyuşmuyor.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Kaydet</button>
        </div>
      </div>
    </form>